.psf-header-f7e327c8{margin-left: 10px;}@media (min-width: 540px) {.psf-header-f7e327c8{margin-left: 10px;}}@media (min-width: 768px) {.psf-header-f7e327c8{margin-left: 10px;}}@media (min-width: 992px) {.psf-header-f7e327c8{margin-left: 10px;}}@media (min-width: 1200px) {.psf-header-f7e327c8{margin-left: 10px;}}.psf-header-3aee1279{margin-left: 10px;}@media (min-width: 540px) {.psf-header-3aee1279{margin-left: 10px;}}@media (min-width: 768px) {.psf-header-3aee1279{margin-left: 10px;}}@media (min-width: 992px) {.psf-header-3aee1279{margin-left: 10px;}}@media (min-width: 1200px) {.psf-header-3aee1279{margin-left: 10px;}}.logo-default{width: 100%;}.megamenu01 .mega .megacontent.megacontent-47387aa4 {
    width: 1000px !important;
    left: -100% !important;
    right: auto;
}
.megamenu01 .mega .megacontent.megacontent-f025bba0 {
    width: 1000px !important;
    left: -200% !important;
    right: auto;
}.megacategory01.tabs-container {
    padding-left: 15px;
    padding-right: 15px;
}
.megacategory01 .tab-contents .megacategory-item01 .item {
    margin: 0
}.test-a{background-color: red;}