@media (min-width: 1200px) {.psf-element-0a642046{margin-top: 50px;}}@media (min-width: 1200px) {.psf-element-3f32639c{margin-top: 50px;}}@media (min-width: 1200px) {.psf-element-d9e2ed77{margin-top: 50px;}}.swiperslider-item-4374bee3 .title {color: #ffcb66 !important;-webkit-animation-duration: 1000ms; animation-duration: 1000ms;}.swiperslider-item-4374bee3 .sub_title {color: #333333 !important;-webkit-animation-duration: 1000ms; animation-duration: 1000ms;}.swiperslider-item-4374bee3 .link_text {-webkit-animation-duration: 1000ms; animation-duration: 1000ms;}@media (min-width:1200px){.swiperslider-item-4374bee3{height: 353px;overflow: hidden;}}@media (min-width:992px) and (max-width:1199px){.swiperslider-item-4374bee3{height: 353px;overflow: hidden;}}@media (min-width:768px) and (max-width:991px){.swiperslider-item-4374bee3{height: 353px;overflow: hidden;}}@media (min-width:540px) and (max-width:767px){.swiperslider-item-4374bee3{height: 353px;overflow: hidden;}}@media (max-width:539px){.swiperslider-item-4374bee3{height: 353px;overflow: hidden;}}.swiperslider-item-9a52fdee .title {-webkit-animation-duration: 1000ms; animation-duration: 1000ms;}.swiperslider-item-9a52fdee .sub_title {-webkit-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 1000ms; animation-delay: 1000ms;}.swiperslider-item-9a52fdee .link_text {-webkit-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 1000ms; animation-delay: 1000ms;}@media (min-width:1200px){.swiperslider-item-9a52fdee{height: 353px;overflow: hidden;}}@media (min-width:992px) and (max-width:1199px){.swiperslider-item-9a52fdee{height: 353px;overflow: hidden;}}@media (min-width:768px) and (max-width:991px){.swiperslider-item-9a52fdee{height: 353px;overflow: hidden;}}@media (min-width:540px) and (max-width:767px){.swiperslider-item-9a52fdee{height: 353px;overflow: hidden;}}@media (max-width:539px){.swiperslider-item-9a52fdee{height: 353px;overflow: hidden;}}.swiperslider-item-2d4f3cea .title {-webkit-animation-duration: 1000ms; animation-duration: 1000ms;}.swiperslider-item-2d4f3cea .sub_title {-webkit-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 1000ms; animation-delay: 1000ms;}.swiperslider-item-2d4f3cea .link_text {-webkit-animation-duration: 1000ms; animation-duration: 1000ms;-webkit-animation-delay: 1000ms; animation-delay: 1000ms;}@media (min-width:1200px){.swiperslider-item-2d4f3cea{height: 353px;overflow: hidden;}}@media (min-width:992px) and (max-width:1199px){.swiperslider-item-2d4f3cea{height: 353px;overflow: hidden;}}@media (min-width:768px) and (max-width:991px){.swiperslider-item-2d4f3cea{height: 353px;overflow: hidden;}}@media (min-width:540px) and (max-width:767px){.swiperslider-item-2d4f3cea{height: 353px;overflow: hidden;}}@media (max-width:539px){.swiperslider-item-2d4f3cea{height: 353px;overflow: hidden;}}.megalinkbox-item-fb9aad0c .sub_title {color: #333333 !important;}.yt-a89bb057-megabanner04 .box-title{color:#fff;padding:10px 30px}.yt-a89bb057-megabanner04 .box-title .title{margin-bottom:0;font-size:30px;line-height:30px}.yt-a89bb057-megabanner04 .box-title .sub_title{font-size:18px}.yt-a89bb057-megabanner04 .swiper-pagination-bullet{background-color:#fff;width:17px;height:17px;opacity:1}.yt-a89bb057-megabanner-item004 .texts{width:100%;position:absolute;left:0;bottom:50px;background-color:rgba(255,255,255,.5);padding:30px;z-index:11}.yt-a89bb057-megabanner-item004 .title,.yt-a89bb057-megabanner-item004 .sub_title,.yt-a89bb057-megabanner-item004 .after_title{font-size:18px}.yt-a89bb057-megabanner-item004 .sub_title{margin-right:6px}.yt-a89bb057-megabanner-item004 .intro{font-size:30px}.yt-a89bb057-megabanner-item004 .sub-intro{color:#e62e04;margin-top:8px}.yt-a89bb057-megabanner-item004 .sub-intro span{display:inline-block;vertical-align:baseline}.yt-1259360c-megalinkbox01 .megalinkbox-item{padding:15px 30px;display:table;table-layout:fixed;width:100%}.yt-1259360c-megalinkbox01 .megalinkbox-item .box-icon{width:70px;height:70px}.yt-1259360c-megalinkbox01 .megalinkbox-item .box-icon a{display:block}.yt-1259360c-megalinkbox01 .megalinkbox-item>div{display:table-cell;vertical-align:middle}.yt-1259360c-megalinkbox01 .megalinkbox-item .texts{padding-left:20px;color:#fff}.yt-1259360c-megalinkbox01 .megalinkbox-item a{color:inherit}.yt-1259360c-megalinkbox01 .megalinkbox-item a:hover{text-decoration:underline}.yt-1259360c-megalinkbox01 .megalinkbox-item .title{font-size:16px}@media(max-width:767px){.yt-1259360c-megalinkbox01 .megalinkbox-item .texts{padding-left:15px}}/*
.listblogs01 .swiper-nav > a {
	width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.3);
    top: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    padding: 0;
    z-index: 9;
    position: absolute;
    color: #fff;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    line-height: 30px;
    text-align: center;
}
.listblogs01 .swiper-nav > a.swiper-prev {
	left: 0;
}
.listblogs01 .swiper-nav > a.swiper-next {
	right: 0
}
.listblogs01 .swiper-nav > a:hover {
	opacity: 1;
}
*/.simplecategory_filter {
	padding: 0 15px;
}
.simplecategory_filter .box-title{
	border-bottom: 1px solid #e5e5e5;
}
.simplecategory_filter .box-title .title{
	font-size:18px;
	display: block;
	font-weight: 600;
}
.simplecategory_filter .box-title .view-filter-block{
	display:block;
}
.simplecategory_filter .filter-categories ul{
	margin-bottom:0;
}
.simplecategory_filter .filter-categories li{
	display: block;
	padding:0 20px;
}
.simplecategory_filter .filter-group h4{
	font-size: 24px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
	border-bottom:1px solid #e5e5e5;
	padding-bottom:10px;
    text-transform: capitalize;
    margin: 0 0 26px 0;
}
.simplecategory_filter .simplecategory-filter-block-inner{
	/*border-left:1px solid #e5e5e5;
	border-bottom:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	width:100%;
	position:absolute;
	top:100%;
	left:0;
	z-index:99999;
	background-color:#fff;*/
	display:none;
}
.simplecategory_filter .simplecategory-filter-block-inner li{
	padding:4px 0;
}
.simplecategory_filter .simplecategory-filter-block .filter-color{
	width:15px;
	height:15px;
	border-radius: 100%;
	display:inline-block;
	vertical-align:
	middle;
	border: 0;
	margin-right:6px;
}
.simplecategory_filter .product .top-block{
	border:1px solid #e5e5e5;
	padding:20px;
}
.simplecategory_filter .filter-tags li{
	display:inline-block;
	margin-right:1px;
	margin-bottom:4px;
}
.simplecategory_filter .filter-tags li a{
	padding:5px 20px;
	background-color:#f9f9f9;
}
.simplecategory_filter .filter-tags li a:hover,
.simplecategory_filter .filter-tags li a.active{
	color:#fff;
}
.simplecategory_filter .simplecategory-load-more-filter{
	margin-top: 25px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 27px 0;
}
.simplecategory_filter .simplecategory-load-more-filter i{
	display: table;
    width: 100%;
    font-size: 30px;
}
@media(max-width:767px){
	.simplecategory_filter .box-title .title{
		font-size:24px;
	}
}
@media(max-width:539px){
	.simplecategory_filter .box-title .title{
		font-size:18px;
	}
	.simplecategory_filter .box-title .view-filter-block{
		padding:0 10px;
	}
	.simplecategory_filter .box-title .view-filter-block span{
		display:none;
	}
}.listblogs.default .box-title{margin-bottom: 30px;}.listblogs.default .middle-block{margin-top: 15px;}.listblogs.default .post-title{margin-bottom: 5px;}.listblogs.default .middle-block .post-info{font-size: 13px; color: #888; margin-bottom: 10px;}.listblogs.default .description{color: #888;}