
{% extends 'basic.html' %} {% load staticfiles %}
{% load static %} 
{% block links %}
<!-- datatable css -->
<link rel="stylesheet" href="{% static '/ui/jquery.dataTables.min.css' %}" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static '/ui/buttons.dataTables.min.css' %}" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static '/ui/font-awesome.min.css' %}" type="text/css" media="all"/>
<link rel="stylesheet" href="{% static '/ui/jquery-notification/css/lobibox.css' %}" type="text/css" media="all"/>
{% endblock %}
{% block content %} 
<div id="wrapper">
    <div class="box-breadcrumb">
        <div class="container">
            <ul class="list-inline">
                                
                    <li>
                        <a href=" " class="main_color-hover-color transition-300">Home
                        <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                        <meta itemprop="position" content="1">
                    </li>
                    <li>
                        <a href=" " class="main_color-hover-color transition-300 active">Poduct Details                         </a>
                        <meta itemprop="position" content="2">
                    </li>
              </ul>
        </div>
    </div>
    <div class="container"> 
       <aside id="notifications">
          <div class="">
          </div> 
       </aside>
       <div class="row">
          <div id="content-wrapper" class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
             <div id="main">
                    </section>
                   <div class="row eqheight"> 
                        <div class="col-md-4 "> 
                                <section id="content" class="page-content">
                            <div class="portlet light bordered">
                                <div class="portlet-body form">
                                          <div class="form-title">
                                                   <h3 class="left-icon"><i class="fa"></i><span>Add Product </span></h3>
                                                </div>
                            <form  id="product_form" class="js-customer-form" method="post">
                                {% csrf_token %}
                         <section>
                            <input type="hidden" name="id_customer" value="">
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Product Brand</label>
                                <select class="form-control" id="product_brand" name="product_brand" required 	data-error=".errorTxt7">
                                </select><span id="category_error" class="errorTxt7 errorTxts errormessage"></span>
                              </div>
                            <div class="form-group">
                                    <label for="exampleFormControlSelect1">Product Category</label>
                                    <select class="form-control" id="product_category" name="product_category" required 	data-error=".errorTxt6">
                                    </select><span id="category_error" class="errorTxt6 errorTxts errormessage"></span>
                                  </div>
                            <div class="form-group "> 
                               <div class="">
                                  <input class="form-control" name="product_name" id="product_name" type="text" value=""  placeholder="Product name"  required  data-error=".errorTxt0"/>
                                  <span class="errorTxt0 errormessage"></span>
                               </div>
                            </div>
                            <div class="form-group ">
                                    <div class="">
                                       <input class="form-control" name="product_description" id="product_description" type="text" value=""  placeholder="Product Description"  required data-error=".errorTxt1">
                                       <span class="errorTxt1 errormessage"></span>
                                    </div>
                                 </div>
                                 
                            <div class="form-group ">
                                <div class="">
                                   <input class="form-control" name="product_regular_price" id="product_regular_price" type="number" value=""  placeholder="Product Regular Price"  required data-error=".errorTxt2">
                                   <span class="errorTxt2 errormessage"></span>
                                </div>
                             </div>
                             <div class="form-group ">
                                    <div class="">
                                       <input class="form-control" name="product_selling_price" id="product_selling_price" type="number" value=""  placeholder="Product Selling Price"  required data-error=".errorTxt3">
                                       <span class="errorTxt3 errormessage"></span>
                                    </div>
                                 </div>
                                 <div class="form-group ">
                                        <div class="">
                                           <input class="form-control" name="product_stock" id="product_stock" type="number" value=""  placeholder="Product Stock"  required data-error=".errorTxt4">
                                           <span class="errorTxt4 errormessage"></span>
                                        </div>
                                     </div>
                            <div class="form-group">
                                <label>Upload Image</label>
                                <div class="input-group">
                                    <span class="input-group-btn">
                                        <span class="btn btn-secondary btn btn-default btn-file">
                                            Browse… <input type="file" id="product_image" name="product_image" onchange="encodeImageToString(this)" require ddata-error=".errorTxt5">
                                            <span class="errorTxt5 errormessage"></span>
                                        </span>
                                    </span>
                                    <input type="text" class="form-control" readonly>
                                </div>
                                <img id='img-upload'/>
                            </div>
                            <!-- bootstrap form https://getbootstrap.com/docs/4.0/components/forms/-->

                            <!--<div class="form-group ">
                                 
                               <div class="">
                                  <input class="form-control" name="email" type="email" value=""  placeholder="Email"  required />
                               </div>
                            </div>-->
                           <!-- <div class="form-group ">
                               <div class="">
                                  <div class="js-parent-focus">
                                     <a href="javascript:void(0)" class="main_color-hover-background psfshow-password password-hide">
                                     <i class="fa fa-eye is-hide" aria-hidden="true"></i>
                                     <i class="fa fa-eye-slash is-show" aria-hidden="true"></i>
                                     </a>
                                     <div class="psfpassword-input">
                                        <input class="form-control js-child-focus js-visible-password" name="password" type="password" value="" pattern=".{5,}" required placeholder="Password" />
                                     </div>
                                  </div>
                               </div>
                            </div>
                            <div class="form-group ">
                               <div class="">
                                  <input class="form-control" name="birthday" type="text" value=""  placeholder="MM/DD/YYYY"   />
                                  <span class="form-control-comment">(E.g.: 05/31/1970)</span>
                               </div>
                            </div>
                            <div class="form-group ">
                               <div class="">
                                  <span class="custom-checkbox">
                                  <input name="optin" type="checkbox" value="1"   />
                                  <span><i class="ion-ios-checkmark-empty checkbox-checked" aria-hidden="true"></i></span>
                                  <label>Receive offers from our partners</label>
                                  </span>
                               </div>
                            </div>
                            <div class="form-group ">
                               <div class="">
                                  <span class="custom-checkbox">
                                  <input name="newsletter" type="checkbox" value="1"   />
                                  <span><i class="ion-ios-checkmark-empty checkbox-checked" aria-hidden="true"></i></span>
                                  <label>Sign up for our newsletter<br><em>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal notice.</em></label>
                                  </span>  
                               </div>
                            </div>-->
                         </section>
                         <footer class="form-footer clearfix">
                            <div class="form-group" align="right" id="button_div">
                            </div> 
                         </footer>
                      </form>
                                               
                                </div>
                            </div>
                                </section>
                        </div>
                    <!-- form dev end -->
                    <!-- table dev start -->
                        <div class="col-md-8">
                                <section id="content" class="page-content">
                                                        <div class="form-title">
                                                            <h3 class="left-icon"><i class="fa"></i><span>Product Details</span></h3>
                                                        </div>
                                                        <table id="product_table" class="display" style="cursor:pointer">
                                                        </table>
                            </section>
                        </div>
                    </div>
             </div>
          </div>
       </div>
    </div>
 </div>
 {% endblock%}
 {% block scripts %}
 <!-- datatable js -->
 <script src="{% static '/ui/jquery-notification/js/lobibox.js' %}" type="text/javascript"></script>
<script src="{% static  '/dev/datatables/js/datatables.min.js' %}" type="text/javascript"></script>
<script src="{% static '/product_details/product.js' %}" type="text/javascript"></script>
<script src="{% static '/dev/lib.js' %}" type="text/javascript"></script>
<script src="{% static '/dev/js/ps_img_upload.js' %}" type="text/javascript"></script>
 {% endblock %}
 <div id="wrapper">
    <div class="box-breadcrumb">
       <div class="container">
          <ul class="list-inline">
             <li>
                <a href="index.html" class="main_color-hover-color transition-300">Home
                </a>
                <meta itemprop="position" content="1">
             </li>
          </ul>
          
       </div>
    </div>
    <div class="container">
       <aside id="notifications">
          <div class="">
          </div>
       </aside>
      
    </div>
 </div>
 
